USE [master]
GO
/****** Object:  Database [CustDB]    Script Date: 24/12/2019 19:23:07 ******/
CREATE DATABASE [CustDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CustDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CustDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CustDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CustDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CustDB]
GO
/****** Object:  Table [dbo].[CustomerMaster]    Script Date: 24/12/2019 19:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerMaster](
	[CustCd] [varchar](20) NOT NULL,
	[CustName] [varchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNo] [varchar](100) NOT NULL,
	[InsertBy] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustCd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
